@model Model.Entity.Category;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>


<form action="/Admin/Category/Delete" method="post">
    <div class="row mb-3">
        <label asp-for="Id" class="col-sm-2 col-form-label">ID</label>

    </div>
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="Name" type="text" class="form-control" id="inputName">
        </div>
    </div>
    <div class="text-center">
        <input asp-for="Id" style="display: none;" />
        <input type="submit" value="Xoá" class="btn btn-primary" />
    </div>
</form>